<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/gemini.css')}}">
    <title>AIチャット</title>
</head>

<body>
    <a href="/" class="home"><img src="{{url_for('static',filename='home.png')}}" alt=""></a>
    <div class="gemini-bar">
        <div id="input-wrapper">
            <button id="setting" onclick="app.openModal()">⚙</button>
            <textarea id="searchBox" placeholder="質問を入力"></textarea>
            <button id="search" onclick="app.ask()">質問する</button>
        </div>
    </div>
    <section id="head">
        <h2 id="question"></h2>
    </section>
    <section id="result">
        <section id="top">
            <h1 id="title"></h1>
            <p id="summary"></p>
        </section>
        <section id="main">
        </section>
    </section>

    <div id="setting-modal">
        <div id="modal-content">
            <h3>設定</h3>
            <p>モード選択<br>(情報量重視の場合、返答に時間がかかります)</p>
            <select id="mode-select">
                <option value="minimal">速度重視</option>
                <option value="high">推論重視</option>
                <option value="light">情報量重視</option>
            </select>
            <button onclick="closeModal()">閉じる</button>

        </div>
    </div>
</body>
<script src="{{url_for('static',filename='js/gemini.js')}}"></script>

</html>