<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/youtube"><img src="{{url_for('static',filename='youtube.png')}}" alt=""></a>
    <a href="/weather/web/weather"><img src="{{url_for('static',filename='weather.png')}}" alt=""></a>
    <a href="/radio/web/radio"><img src="{{url_for('static',filename='radio.png')}}" alt=""></a>
</body>
<script>
    if('serviceWorker' in navigator){
        window.addEventListener('load',()=>{
            navigator.serviceWorker.register('/sw.js')
            .then(registration =>{
                console.log("ServiceWorker登録成功：",registration.scope);
            })
            .catch(error =>{
                console.log("ServiceWorker登録失敗：",error);
            });
        });
    } 
</script>
</html>