<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{{url_for('static',filename='manifest.json')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <a href="/youtube" class="link-wrapper">
            <img src="{{url_for('static',filename='youtube.png')}}" alt="">
            <p class="title">YouTube</p>
        </a>
    </div>

    <div class="container">
        <a href="/weather/web/weather" class="link-wrapper">
            <img src="{{url_for('static',filename='weather.png')}}" alt="">
            <p class="title">天気予報</p>
        </a>
    </div>

    <div class="container">
        <a href="/radio/web/radio" class="link-wrapper">
            <img src="{{url_for('static',filename='radio.png')}}" alt="">
            <p class="title">ラジオニュース</p>
        </a>
    </div>

    <div class="container">
        <a href="/gemini" class="link-wrapper">
            <img src="{{url_for('static',filename='gemini.png')}}" alt="">
            <p class="title">Gemini</p>
        </a>
    </div>
    <button id="delete-sw">Service Worker削除</button>
</body>
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/sw.js', { scope: '/' })
                .then(registration => {
                    console.log("ServiceWorker登録成功：", registration.scope);
                })
                .catch(error => {
                    console.log("ServiceWorker登録失敗：", error);
                });
        });
    }
    var del = document.getElementById('delete-sw');
    del.addEventListener('click', function () {
        navigator.serviceWorker.getRegistrations().then(function (regs) {
            regs.forEach(function (reg) {
                reg.unregister();
            });
        });

        caches.keys().then(function (names) {
            names.forEach(function (name) {
                caches.delete(name);
            });
        });
    })
</script>

</html>