<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/news.css')}}">
    <title>ニュース</title>
</head>

<body>
    <nav id="sources">
        <a href="/" class="home"><img src="{{url_for('static',filename='home.png')}}" alt=""></a>
        <div id="news">
        </div>
    </nav>
    <section id="main">
        <ul id="news-list">
        </ul>

        <article id="article">
        </article>
    </section>

</body>
<script src="{{url_for('static', filename='js/news.js')}}"></script>

</html>