<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask製Youtube Player</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <section class="container">
        <a href="/" class="home"><img src="{{url_for('static',filename='home.png')}}" alt=""></a>
        <div class="search-bar">
            <input id="searchBox" type="text" placeholder="検索" onkeypress="if(event.key==='Enter') search()">

            <button id="search" onclick="search()">検索</button>
        </div>
        <section class="options">
            <div class="quality">
                <h3>画質設定</h3>
                <select id="qualitySelect">
                    <option value="144">144p</option>
                    <option value="240">240p</option>
                    <option value="360">360p</option>
                    <option value="480">480p</option>
                    <option value="720">720p</option>
                    <option value="1080">1080p</option>
                </select>
            </div>

            <div>
                <h3>キャッシュ設定</h3>
                <label class="slide-switch">
                    <input type="checkbox" id="CacheOption"/>
                    <span></span>
                </label>
            </div>
        </section>


        <div class="main-content">

            <div class="video-player hidden" id="playerSection">
                <video id="videoPlayer" controls></video>
                <div class="video-info">
                    <h2 id="videoTitle"></h2>
                    <small id="videoUploader"></small>
                    <p id="videoDescription"></p>

                </div>
            </div>
            <div class="sidebar scroll-hidden">
                <h3 id="slidebarTitle">検索結果</h3>
                <div class="results" id="results"></div>
            </div>
        </div>
    </section>

    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>

</html>